<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Подтверждение регистрационных данных</title>
</head>

<body>
    <h2>Здравствуйте, {{ .UserName}}!</h2>
    <p>Благодарим вас за регистрацию учётной записи на сайте <a href="https://azamat.dev">azamat.dev</a>.
        Код активации вашего аккаунта: </p>
    <br>
    <h4>{{ .PinCode}}</h4>
    <br>
    <p>Если не удалось зарегистрироваться по указанному коду отправьте повторно.</p>
    <p>Это письмо сформировано автоматически. Пожалуйста, не отвечайте на него.</p>
    <p>С уважением,</p>
    <p>Омеков Азамат</p>
</body>
</html>