<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Сбросить пароль</title>
</head>

<body>
    <h2>Здравствуйте, {{ .Username}}!</h2>
    <a href="https://azamat.dev/reset?token={{.PassToken}}">https://azamat.dev/reset?token={{.PassToken}}</a>
    <p>Это письмо сформировано автоматически. Пожалуйста, не отвечайте на него.</p>
    <p>С уважением,</p>
    <p>Омеков Азамат</p>
</body>
</html>