
<nav class="uk-navbar-container">
  <div class="uk-container">
      <div uk-navbar>
          <div class="uk-navbar-nav">
            <button class="uk-button uk-button-default" (click)="goBack()">Go Back</button>
          </div>
      </div>
  </div>
</nav>
<table class="uk-table uk-table-striped uk-table-small uk-table-middle">
    <thead>
      <tr>
        <th>Авто с гибридными установками и ДВС</th>
        <th class="uk-table-expand">Расчёт и ставки</th>
      </tr>
    </thead>
    <tbody>
      <!-- <tr>
        <td>Выберите авто</td>
        <td>
          <button class="uk-button uk-button-default" type="button"><span uk-drop-parent-icon></span>Toyota Camry 2020 2.5</button>
          <div uk-dropdown="mode: click">
            <ul class="uk-nav uk-dropdown-nav">
              <li><a href="#">Toyota Camry 2020 2.5</a></li>
              <li><a href="#">Toyota Camry 2021 2.5</a></li>
              <li><a href="#">Toyota Camry 2022 2.5</a></li>
              <li><a href="#">Toyota Camry 2023 2.5</a></li>
          </ul>
          </div>
        </td>
      </tr> -->
      <tr>
      <tr>
        <td>Стоимость  авто по налоговой сетке в РК, долларов США</td>
        <td>$10810</td>
      </tr>
      <tr>
        <td>Текущий курс доллара к тенге, 2024.09.09</td>
        <td>480.55 тг.</td>
      </tr>
      <tr>
        <td>Итого в тенге</td>
        <td><b>5194745.5 тг.</b></td>
      </tr>
      <!-- <tr>
        <td style="font-size: 14px;">Статья расходов и технические данные автомобиля</td>
      </tr> -->
      <tr>
        <td>Объём двигателя</td>
        <td>2500 см3</td>
      </tr>
      <tr>
        <td>Возраст авто</td>
        <td>4 Год</td>
      </tr>
      <tr>
        <td>СБКТС (Стоимость отличается в зависимости от производителя авто и города где проводится экспертиза)</td>
        <td>0 тг.</td>
      </tr>
      <tr>
        <td>Таможенный сбор</td>
        <td><span>22152 тг.</span></td>
      </tr>
      <tr>
        <td>Таможенная пошлина</td>
        <td><span>779211,825 тг.</span></td>
      </tr>
      <tr>
        <td>НДС</td>
        <td><span>719533,119 тг.</span></td>
      </tr>
      <tr>
        <td>Кнопка SOS/ЭВАК</td>
        <td>230000 тг.</td>
      </tr>
      <tr>
        <td>Первичная регистрация</td>
        <td>1846000 тг.</td>
      </tr>
      <tr>
        <td>Утилизационный сбор</td>
        <td>923000 тг.</td>
      </tr>
      <tr>
        <td>Услуги Брокера, портовые сборы, прочие услуги - ориентировочно</td>
        <td>30000 тг.</td>
      </tr>
      <tr>
        <td>Доставка до Алматы $2100</td>
        <td>1009155 тг.</td>
      </tr>
      <tr style="font-size: 16px;">
        <td><b>Итого под ключ в Казахстане</b></td>
        <td><b>10753797.444 тг.</b></td>
      </tr>
    </tbody>
  </table>